.row {
    background-color: #111;
    color: #fff;
    height: 320px;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.logo-wrapper {
    position: relative;
}

.contact-wrapper ul {
    border-bottom: 1px solid #e1e1e1;
}

.contact-wrapper ul li {
    list-style-type: none;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li a {
    text-decoration: none;
    color: #fff;
}

.icons-wrapper {
    font-size: 30px;
}

.infos-links li {
    list-style: none;
    margin-bottom: 20px;
}

.copyright {
    position: absolute;
    bottom: 0;
}