.map-wrapper {
    color: #fff;
    background-color: #111;
    height: 500px;
}

.map-image-wrapper {
    height: 250px;
    background-color: #dfdfdf;
    border-top: 10px solid red;
}

.opening-hours-wrapper {
    text-transform: uppercase;
    color: #ccc;
}