.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000a;
    z-index: 2;
}

.product-wrapper-modal {
    display: block;
    height: 50%;
    width: 50%;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
}

.product-image-wrapper-modal {
    position: relative;
    background-color: #ccc;
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

.product-price-modal {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.product-info-wrapper-modal {
    position: absolute;
    top: 300px;
    right: 300px;
}

.btn-buy-wrapper-modal {
    background-color: #f2a50c;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}